{% load unicms_templates %}

{% random_id as id %}

{% if collection.get_items %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">

<div id="carousel-{{id}}" class="splide it-carousel-wrapper">
    <div class="splide__track">
        <ul class="splide__list">
            {% for item in collection.get_items %}
            <li class="splide__slide">
                <div class="it-single-slide-wrapper h-100">
                    <div class="card-wrapper h-100">
                        <div class="card card-img no-after">
                            <div class="img-responsive-wrapper">
                                <div class="img-responsive">
                                    <a href="{{ item.media.get_media_path }}" data-lightbox="{{ id }}_gallery" aria-label="{{ item.media.title }}">
                                        <img class="splide__lazy"
                                             data-splide-lazy="{{ item.media.get_media_path }}"
                                             title="{{ item.media.title }}"
                                             alt="{{ item.media.description }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const el = document.querySelector('#carousel-{{ id }}');
    // Conta le slide effettive
    const itemCount = el.querySelectorAll('.splide__slide').length;

    // Definiamo i breakpoint
    const itemsXs = 1;
    const itemsLg = 3;

    const windowWidth = window.innerWidth;
    const visibleIniziali = windowWidth < 600 ? itemsXs : itemsLg;
    
    var splide = new Splide('#carousel-{{ id }}', {
        type: itemCount > visibleIniziali ? 'loop' : 'slide',
        perPage: itemsLg,
        //~ autoHeight: true,
        arrows     : true, // Nasconde le frecce (prev/next)
        pagination : false, // Nasconde i puntini (bullets)
        gap    : '12px', // Spaziatura tipica Bootstrap Italia
        lazyLoad: 'nearby',
        breakpoints: {
          600: {
            perPage: itemsXs,
          },
        },
        // Classi per integrare lo stile Bootstrap Italia se necessario
        classes: {
            arrows: 'splide__arrows it-test-class', 
            arrow : 'splide__arrow it-arrow-custom',
        },
    });

    splide.mount();
});
</script>
{% endif %}
